node_modules/
dist/
.env
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.DS_Store

# Файлы с описанием методической составляющей практик
методики практик/

computer_vision.py
data_compression.py
image_representation.py
image_recognition.py
recommender_system.py
sentiment_analysis.py
spam_classifier.py
