node_modules/
dist/
.env
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/
.DS_Store

# Файлы с описанием методической составляющей практикумов
методики практик/
методики практикумов/

# Файлы практикумов, которые еще не реализованы
computer_vision.py
data_compression.py
image_representation.py
image_recognition.py
recommender_system.py
sentiment_analysis.py
spam_classifier.py

# Блок тестирования (CSV)
loadtest/

# Admin SQLite database
*.db
*.db-shm
*.db-wal
backend/admin/logs/
!backend/admin/logs/
!backend/admin/logs/.gitkeep
